.container {
  width: 1200px;
  height: 50%;
  background-color: rgb(246, 243, 200);
  background-image: "form.jpg";
}

.card {
  align-items: center;
  margin-left: 5%;
  border: 2px solid #010101;
}
.name,
.E-mail,
.Address {
  align-items: center;
  justify-content: center;
  margin-left: 37%;
}
.Password {
  align-items: center;
  justify-content: center;
  margin-left: 36.25%;
  margin-top: 15px;
}

.repeatPassword {
  align-items: center;
  justify-content: center;
  margin-left: 32%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-header {
  color: rgb(8, 5, 5);
  text-align: center;
  text-decoration: double underline;
}

.name1 {
  margin-left: 25px;
}

.E-mail1 {
  margin: 24px;
}

.Address1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.Password1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.repeatPassword1 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  align-items: center;
  margin-left: 50px;
  background-color: #dfe4ee;
  margin-bottom: 10px;
  margin-left: 45%;
}
